body {
    display: grid;
    margin: 0;
    padding: 0;    
    font-family: 'Montserrat', sans-serif;
    font-size: 16px;
    overflow-x: hidden;
}

header {    
    padding: 0 5em;
    color: white;    
    background: linear-gradient(to top, #e6fffd 4%, #47b5fd 41%, #014396 100% );
}

.header-content {
  display: grid;    
    grid-template-rows: repeat(2, 250px);
    grid-template-columns: repeat(4, minmax(150px, 200px));
    justify-content: center;
}

header .logo, header h1 {
    filter: drop-shadow(-6px 7px 9px #024674)
}

img.logo {
    max-width: 100%;
    max-height: 100%;
    grid-column: 1 / span 4;
    grid-row: 1 ;
}

header h1 {
    margin: 0;
    line-height: 1.19em;
    font-size: 4em;
    letter-spacing: -8px;
    grid-column: 4 / 9;
    grid-row: 1 /span 3;
}

header h1 span {
    margin-left: -0.08em;
    font-size: 1.85em;
}

header nav {
    grid-row: 2;
    grid-column: 1 / span 5;
    position: relative;
    z-index: 1;
}

header nav ul {
    line-height: 1.5em;
    text-align: right;
    font-size: 1.5em;
    list-style: none;
}

header nav ul a {
  font-weight: 800;
  color: #ffffff;
  text-shadow: 1px 1px 18px #046db5;
  text-decoration: none;
}

header nav ul li:hover {
    text-decoration: underline;
    cursor: pointer;
}


.waves {
    width: calc(100% + 10em);
    margin-left: -5em;
    margin-bottom: -5em;
    transform: translateY(-4em)
  }

  svg {
    width:100%;
  }

  .dolphin {
    animation: dolphin 1.5s ease-in-out;
    animation-iteration-count:infinite;
    animation-direction: alternate;
    animation-delay: 0.3s;  
  }
  
  .wave {
    animation: wave 3s linear;
    animation-iteration-count: infinite;
    fill: #4478e3;
  }
  
  #wave2 {
    animation-duration:5s;
    animation-direction: reverse;
    opacity: .6
  }
  #wave3 {
    animation-duration: 7s;
    opacity:.3;
  }

  @keyframes wave {
    to {transform: translateX(-100%);}
  }
  @keyframes dolphin {
    to {transform: translateY(20%);}
  }
  
#particles-js {        
    position: absolute;
    top: -6em;
    left: -5em;
    width: calc(100% + 5em);
    z-index: 0;
}


main {        
    position: relative;
    z-index: 1;
    display: grid;
}

main .section {
  /* margin-bottom: 2em; */
  width: 100%;
  max-width: 800px;
  margin: 2em auto;
}

.location-wrapper {
  background: #4478e3;
  background-image: linear-gradient(to bottom, #4478e3 13%, #00194c 100% );
}

.location .location-icon {
    height: 4em;
    float: left;
    margin-right: 1em;   
}

.location img.donuzlav {
  max-width: 100%;
  border-radius: 35px;
  box-shadow: 1px 1px 18px #1c3a5f;
  position: relative;
  z-index: 1;
}

main p {
    /* width: 30em; */
    color: white;
    margin-top: 0;
    margin-bottom: 2em;
    line-height: 1.4em;
    font-size: 1.1em;
}

.afalina-wrapper {
  background-image: url('images/afalina_swimming.jpg');
  height: 78vh;
  background-size: cover;
  z-index: 1;
}

.afalina p {
  font-size: 2em;
  font-weight: 700;
  line-height: 0.9em;
  text-shadow: 1px 1px 1px black;
}

